body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

#map {
  height: 100vh;
  width: 100%;
}

.row {
  max-height: 100vh;
  overflow-y: scroll;
}

th {
  text-align: left;
}

table {
  table-layout: fixed;
}

td {
  width: 40%;
  padding: 5px;
}

ul#legend li {
  display: inline;
  padding: 2px;
}
